header.header   
   .header__top
        .container
            .contacts
                a.contact(href="tel:+3805399999")
                    i.fas.fa-glass-martini-alt(arial-hidden="true")
                    span.contact__text 6337 3128
                a.contact(href="mailto:info@business.co")
                    span.contat__text info@business.co
                
                a.facebook-icon(href="facebook.com")
                    i.fab.fa-facebook-square
                 
.container
    .header__bottom
        .logo: img.logo__picture(src="images/logo.png")
        nav.nav
            -var items = ['Home', 'About us', 'Our Approch', 'Our Work']
                each item in items
                    if item === 'Home'
                        a.nav__link.nav__link--active(href="#")= item
                    else
                        a.nav__link(href="#")= item
        a.button.header__button.button--red(href='#') Free Consultation
          