.header {
    &__top {
        background-color: #f0f2f4;
        border-bottom: 1px solid #e2e2e2;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
    }
}
.contacts {
    text-align: right;
}

.contact {
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 8px;
    color: #424242;
    transition: 0.3s;


    &:hover {
        color: lighten(#424242, 20%);
    }
}