@mixin centerer-xy() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

@mixin centerer-x() {
    position: absolute;
    left: 50%;      
    transform: translateX(-50%);
}

@mixin centerer-y() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}